etc/*
*.py[cod]
*.sh
*.prefs
.project
.pydevproject
.settings
.ropeproject
.pypirc
dist
south.log
*.bz2
.DS_Store
htmlcov
.coverage
db.sqlite3
*.key
*.pem
build
*.egg-info
__pycache__
*migrations
.settings/org.eclipse.core.resources.prefs
